<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095483865963-3esi9nd2tffsk5mb3nnv70tolhkeq7uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095483865963-3esi9nd2tffsk5mb3nnv70tolhkeq7uq</string>
	<key>API_KEY</key>
	<string>AIzaSyDjbgmn6gSMI_EiHwJzZrxDFZCjA7fRvc0</string>
	<key>GCM_SENDER_ID</key>
	<string>1095483865963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.budgetTracker</string>
	<key>PROJECT_ID</key>
	<string>budget-tracker-973da</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-tracker-973da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095483865963:ios:9cecdd01095c182d5f6a2e</string>
</dict>
</plist>